$font-color-main: white;
$font-color-light-grey: #999999;
$font-color-grey: #555555;
$font-color-dark-grey: #333333;

$background-color-main: #1f1f1f;
$section-color-background: rgba(0, 0, 0, 0.4);
$section-color-border: #272a31;
$section-color-text: #d3d3d3;
$spinner-color-border: #3a556a;

$product-color-background: #1b1f26;

$body-max-width: 80em;
$mobile-breakpoint: 780px;
