input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: $font-color-light-grey; }
input:-moz-placeholder { color: $font-color-light-grey; }
input::-moz-placeholder { color: $font-color-light-grey; }
input:-ms-input-placeholder { color: $font-color-light-grey; }

textarea::-webkit-input-placeholder { color: $font-color-light-grey; }
textarea:-moz-placeholder { color: $font-color-light-grey; }
textarea::-moz-placeholder { color: $font-color-light-grey; }
textarea:-ms-input-placeholder { color: $font-color-light-grey; }

button {
  outline: none;
  border: none;
  background: transparent;
}


/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/

.wrap-contact2 {

  background: $font-color-main;
  max-width: 60em;
  overflow: hidden;
  padding: 5em 3em;

}


/*------------------------------------------------------------------
[  ]*/

.contact h2 {
  display: block;
  font-size: 2.5em;
  color: $font-color-dark-grey;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[  ]*/

.input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 2em;
}

.input-form {
  display: block;
  width: 100%;
  color: $font-color-grey;
  line-height: 1.2;
}

.focus-input-form {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-form::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: rgba(219,21,99,1);
  background: linear-gradient(to top, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.focus-input-form::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 0.8em;
  color: $font-color-light-grey;
  line-height: 1.2;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input-form {
  height: 2.5em;
}

input.input-form + .focus-input-form::after {
  top: 1em;
  left: 0;
}

textarea.input-form {
  min-height: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
}

textarea.input-form + .focus-input-form::after {
  top: 1.1em;
  left: 0;
}

.input-form:focus + .focus-input-form::after {
  top: -1em;
}

.input-form:focus + .focus-input-form::before {
  width: 100%;
}

.has-val.input-form + .focus-input-form::after {
  top: -1em;
}

.has-val.input-form + .focus-input-form::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-send-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
}

.wrap-send-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.send-btn-bg {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background:  rgb(246, 79, 89);
  background: linear-gradient(to right, rgb(18, 194, 233), rgb(246, 79, 89));
  top: 0;
  left: -100%;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}
